body{
    font-family: 'Noto Sans TC', sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}









.back-button {
    display: inline-block;
    border-radius: 4px;
    background-color: rosybrown;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 0 50px 0;
}

.back-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.back-button span:after {
    content: '\2190';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -80px;
    transition: 0.5s;
}

.back-button:hover span {
    padding-left: 25px;
}

.back-button:hover span:after {
    opacity: 1;
    right: 0;
}


