/* style reference */
body {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    padding: 20px 30px 20px 30px;
}

.bg {
    background-color: seashell;
}
.back {
    color: rosybrown;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.back:hover {
    color: rosybrown;
}

.row {
    margin: 40px 30px 40px 30px;
}

.content {
    margin: 40px 100px 40px 100px;
    text-align: left;
}

p {
    color: #993300;
    font-size: 20px;
}

img {
    width: 250px;
    height: auto;
}

.avatar {
    width: 300px;
}

h5 {
    padding: 20px 0 20px 0;
}

