/* style reference */
body {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}

.row {
    width: 460px;
    height: 200px;
    margin: auto;
    display: inline-block; 
}

.row2 {
    top: 300px;
}

#navlist {
    position: relative;
}

#navlist div {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    height: 115px;
}

.poker1 {
    position: relative;
    left: 0px;
    width: 74px;
    background: url('cards52w.png') -813px -345px;
}

#poker11 {
    position: absolute;
    left: 0px;
    width: 74px;
    background: url('cards52.png') -813px -345px;
    z-index: 2;
}

.poker2 {
    position: relative;
    left: 75px;
    width: 74px;
    background: url('cards52w.png') -296px 0;
}

#poker12 {
    position: absolute;
    left: 0px;
    width: 74px;
    background: url('cards52.png') -296px 0;
}

.poker3 {
    position: relative;
    left: 150px;
    width: 74px;
    background: url('cards52w.png') -148px -115px;
}

#poker13 {
    position: absolute;
    left: 0px;
    width: 74px;
    background: url('cards52.png') -148px -115px;
}

.poker4 {
    position: relative;
    left: 225px;
    width: 74px;
    background: url('cards52w.png') -74px -230px;
}

#poker14 {
    position: absolute;
    left: 0px;
    width: 74px;
    background: url('cards52.png') -74px -230px;
}

.poker5 {
    position: relative;
    left: 300px;
    width: 74px;
    background: url('cards52w.png') -370px 0;
}

#poker15 {
    position: absolute;
    left: 0px;
    width: 74px;
    background: url('cards52.png') -370px 0;
}

.poker6 {
    position: relative;
    left: 375px;
    width: 74px;
    background: url('cards52w.png') -739px -115px;
}

#poker16 {
    position: absolute;
    left: 0px;
    width: 74px;
    background: url('cards52.png') -739px -115px;
}

#red-table {
    position: relative;
    display: inline-block;
    background-image: url('red.png');
    width: 500px;
    height: 115px;
}

#black-table {
    position: relative;
    display: inline-block;
    background-image: url('black.png');
    width: 500px;
    height: 115px;
}

.back-button {
    display: inline-block;
    border-radius: 4px;
    background-color: rosybrown;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 0 50px 0;
}

.back-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.back-button span:after {
    content: '\2190';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -80px;
    transition: 0.5s;
}

.back-button:hover span {
    padding-left: 25px;
}

.back-button:hover span:after {
    opacity: 1;
    right: 0;
}



