body {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 15px 20px 15px;
}

.level1 {
    background-color: #FFCCCC;
    border: 1px solid;
    padding: 0 20px;
}

.level1:hover {
    background-color: darkred;
}

.level1:hover > p{
    color: white;
}

.level2 {
    background-color: #DCDCDC;
    border: 1px solid;
    padding: 0 20px;
}

.level2:hover {
    background-color: darkgray;
}

.level2:hover > p{
    color: white;
}

.level3 {
    background-color: white;
    border: 1px solid;
    padding: 0 20px;
    margin-bottom: 20px;
}

.level3:hover {
    background-color: black;
}

.level3:hover > p{
    color: white;
}

.level4 {
    background-color: white;
    border: 1px solid;
    padding: 20px 20px 0 20px;
}

.level5 {
    background-color: white;
    border: 1px dashed gray;
    padding: 10px 20px 20px 20px ;
    text-align: center;
}

.level5:hover {
    background-color: black;
}

.level5:hover > p{
    color: white;
}

.level6 {
    background-color: linen;
    padding: 10px 20px 20px 20px;
    text-align: center;
    margin: 5px 5px 15px 5px;
}

.level6:hover {
    background-color: red;
}

.level6:hover > p{
    color: white;
}

.level7 {
    background-color: white;
    padding: 10px 25px 25px 25px;
    text-align: center;
    margin: 5px 5px 15px 5px;
}

.level7:hover {
    background-color: #663300;
}

.level7:hover > p{
    color: white;
}

#inner {
    padding: 80px 20px 0 20px;
    margin: 10px 20px 0 20px;
    border: .5px dashed gray;
    background-color: snow;
    height: 100px;
}

#inner:hover {
    background-color: maroon;
    color: white;
}

.back-button {
    display: inline-block;
    border-radius: 4px;
    background-color: rosybrown;
    border: none;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 0 50px 0;
}

.back-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.back-button span:after {
    content: '\2190';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -80px;
    transition: 0.5s;
}

.back-button:hover span {
    padding-left: 25px;
}

.back-button:hover span:after {
    opacity: 1;
    right: 0;
}
