/* style reference */
body {
    font-family: Arial, sans-serif;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
}

#table_style{
    margin: 20px 50px 50px 50px;

}

.CellWithComment{
    position: relative;
    border: 1px solid black;
    border-collapse: separate;
    padding: 2px;
    height: 24px;
    min-width: 26px;
}

.CellComment{
    display: none;
    position: absolute; 
    z-index: 100;
    border: 1px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 3px;
    color: black; 
    top: 20px; 
    left: 20px;
}

.CellWithComment:hover span.CellComment{
    display: block;
}

a {
    color: rosybrown;
    font-weight: bold;
}

.form {
    border: 0px solid black;
    border-collapse: collapse;
    border-spacing: 1px;
    margin: 0 0 20px 0;
}

.block {
    border: 1px solid black;
    border-collapse: separate;
    padding: 2px;
    height: 30px;
    min-width: 120px;
    text-align: center;
}

#color {
    border: 0px solid blue;
    border-spacing: 1px;
    margin: 0 0 30px 0;
}


